/*****************************************/
/************ FEAUTERED SLIDER ***********/
/*****************************************/
#frame-holder {
	opacity: 0;
	position: relative;
	z-index: -9;
}
#frame-holder img {
	display: block;
	width: 100%;
	height: auto;
}
#main_header{ background-image: none; }
#header_featured {
	position:relative;
	width: 100%;
}
#header_featured .slides {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.slide_wrap a{color: #555; }
.slide_wrap p{
	color: #777;
	padding: 40px 130px 10px;
}
.fr_slide_image{
	/*background-attachment: fixed;*/
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.fr_image_description {
	position: absolute;
	top: 45%;
	left: 10%;
	height: 100%;
	color: #fff;
}
.fr_inner_description { width: 80%; }
.fr_inner_description p{
	font-size: 25px;
	font-weight: 300;
	padding: 20px 0;
	display: inline-block;
	color: #fff;
}
.fr_image_description h2 {
	font-size: 65px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #888;
}
.fr_image_description h2.title a { color: #fff; }
.fr_image_description h2.title a:hover {
	color: #eee;
	text-decoration: none;
}

video{
	width: 100%;
}
			
.text_slide {
	padding-top: 70px;
	padding-bottom: 50px;
	text-align: center;
	background-color: transparent;
}
.text_slide a{color: #555;}
.text_slide a.readmore {
	font-size: 13px;
	display: block;
	font-family: Oswald, Arial, sans-serif;
	font-style: normal;
	margin-top: 30px;
}
			
#left-arrow, #right-arrow {
	position:absolute;
	top: 50vh;
	width:30px;
	height:59px;
	text-indent: -9999px;
	transform: translate(0, 50%);
}
#left-arrow {
	left: 60px;
	background: url(images/prev_arrow.png) no-repeat;
}
#right-arrow {
	right: 60px;
	background: url(images/next_arrow.png) no-repeat;
}

#header_featured ol.flex-control-nav{ bottom: 100px; }

@media only screen and ( min-width: 768px ) and ( max-width: 980px ) {
	
	#main_header { height: 900px !important; }
	/*#main_header .flexslider .slides > li{
		height: 900px !important;
	}
	
	#left-arrow, #right-arrow{
		top: 80%;
		right: 50px; 
	}
	#right-arrow{ top: 90%; }*/
	#main_header .flexslider .slides > li{
		/*height: 640px !important;*/
	    height: 370px !important;
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: top center !important;
	}

	.home #main_header {
	    height: 163px !important;
	}

	
	#left-arrow, #right-arrow {
	    height: 29px;
	}
	#left-arrow{ top: 10%; }
	#right-arrow{ top: 30%; }
	#header_featured ol.flex-control-nav {
		bottom: -80px;
		right: 50px;
	}
	
	#services{ padding: 400px 0 80px; }
		
}
@media only screen and ( max-width: 991px ) {

	/*#main_header { height: 900px !important; }
	#main_header .flexslider .slides > li{
		height: 900px !important;
	}
	
	#left-arrow{ top: 80%; }
	#right-arrow{ top: 90%; }
	#header_featured ol.flex-control-nav {
		bottom: -60px;
		right: 50px;
	}
	*/
	#services{ padding: 400px 0 80px; }

}
@media only screen and ( max-width: 991px ) {

	.fr_image_description{ top: 20%; }
	.fr_inner_description p{ font-size: 20px; }
	#left-arrow { right: auto; left: 0}
	#right-arrow{ right: 0px; }
	#header_featured ol.flex-control-nav{ right: 10px; }

}
@media only screen and ( max-width: 991px ) {
	
	#main_header { height: 640px !important; }
	/*************************************************/
	#main_header .flexslider .slides > li{
		/*height: 640px !important;*/
	    /*height: 170px !important;*/
	    background-size: 100% auto;
	    background-repeat: no-repeat;
	    background-position: top center !important;
	}

	.home #main_header {
	    height: auto !important;
	}

	#left-arrow, #right-arrow {
	    height: 29px;
	}
	#left-arrow{ top: auto; bottom: 50%; transform: translate(0, 50%);}
	#right-arrow{ top: auto; bottom: 50%; transform: translate(0, 50%);}
	/****************************************************/
	#header_featured ol.flex-control-nav{ bottom: 0; }
	
	.fr_image_description{ top: 16%; }
	.fr_image_description h2{ font-size: 45px; }
	ol.flex-control-nav li{ width: auto !important; }
	
	#services{ padding: 150px 0 80px; }

}

#main_header .flexslider .slides > li {
	height: 100% !important;
}

.home #main_header {
	height: 100% !important;
}

ol.flex-control-nav {
	z-index: 2;
}